In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=25800fbbdfcf5d182aa76c839604ba4261fcce743a3ba7e3d79823cc785c3758
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

*italicized text*# Badminton court



```
Table: badminton_court

+----------------+---------+
| Column Name    | Type    |
+----------------+---------+
| user_id        | int     |
| kit_id         | int     |
| login_date     | date    |
| sessions_count | int     |
+----------------+---------+

```




*   (user_id, login_date) is the primary key of this table.
*   This table records the sessions of users who visit the badminiton court
* Each row logs a user's activity for the day, indicating the number of sessions  played
* It also shows the kit_id that player has used on particular day.

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.window import Window
from pyspark.sql.functions import rank, dense_rank, col, sum as f_sum, lead, min as f_min, datediff, to_date
from pyspark.sql.types import IntegerType, BooleanType, DateType


spark = SparkSession.builder.appName('thebigdatashow.me').getOrCreate()

badminton_court_data = [
    (1, 2, "2016-03-01", 5),
    (1, 2, "2016-03-02", 6),
    (2, 3, "2017-06-25", 1),
    (3, 1, "2016-03-02", 2),
    (3, 4, "2016-03-02", 3),
    (3, 2, "2018-07-03", 5)
    ]
print(badminton_court_data)

coloumns = ["user_id", "kit_id", "login_date", "sessions_count"]

court_input_df = spark.createDataFrame(badminton_court_data, coloumns)

court_input_df.show()
court_input_df.printSchema()

[(1, 2, '2016-03-01', 5), (1, 2, '2016-03-02', 6), (2, 3, '2017-06-25', 1), (3, 1, '2016-03-02', 2), (3, 4, '2016-03-02', 3), (3, 2, '2018-07-03', 5)]
+-------+------+----------+--------------+
|user_id|kit_id|login_date|sessions_count|
+-------+------+----------+--------------+
|      1|     2|2016-03-01|             5|
|      1|     2|2016-03-02|             6|
|      2|     3|2017-06-25|             1|
|      3|     1|2016-03-02|             2|
|      3|     4|2016-03-02|             3|
|      3|     2|2018-07-03|             5|
+-------+------+----------+--------------+

root
 |-- user_id: long (nullable = true)
 |-- kit_id: long (nullable = true)
 |-- login_date: string (nullable = true)
 |-- sessions_count: long (nullable = true)

In [3]:
# Task 1: Convert the login_date from string column to Date column. Hint - Use withColumn

# **Objective**: **Create a query to find the first login date for each user from the "badminton_court" table..**

**Result Format**: Return the result table in any order, as shown in the example below.

#### Example:

```
Input:
badminton_court table:
+---------+-----------+------------+---------------+
| user_id | kit_id | login_date | sessions_count   |
+---------+-----------+------------+---------------+
| 1       | 2         | 2016-03-01 | 5             |
| 1       | 2         | 2016-03-02 | 6             |
| 2       | 3         | 2017-06-25 | 1             |
| 3       | 1         | 2016-03-02 | 2             |
| 3       | 4         | 2016-03-02 | 3             |
| 3       | 2         | 2018-07-03 | 5             |
+---------+-----------+------------+---------------+

Output:
+---------+--------------+
| user_id | first_login  |
+---------+--------------+
| 1       | 2016-03-01   |
| 2       | 2017-06-25   |
| 3       | 2016-03-02   |
+---------+--------------+


```

In [4]:
# Task 2: Create a query to find the first login date for each user from the "badminton_court" table

# Develop a query to identify the first badminton kit used by each player to log in, utilizing the "badminton_court" table. If there some player has used more than one kit on first day then show the all the kits that is used on first day.

```
Expected Output:
+-----------+-----------+
| player_id | kit_id |
+-----------+-----------+
| 1         | 2         |
| 2         | 3         |
| 3         | 1         |
| 3         | 4         |
+-----------+-----------+
```

In [5]:
# Task 3: Identify the first badminton kit used by each player

# Show the list of first badminton kit used by player on their first day.


```
Expected Output:
+-----------+-----------+
| player_id | kits      |
+-----------+-----------+
| 1         | [2]       |
| 2         | [3]       |
| 3         | [1, 4]    |
+-----------+-----------+
```

## Write a solution to report for each player and date, how many games played so far by the player i.e the total number of games played by the player until that date.

Expected Output

```
+---------+-----------+------------+----------------+--------------+
| user_id | kit_id    | login_date | sessions_count | games_played |
+---------+-----------+------------+----------------+--------------+
| 1       | 2         | 2016-03-01 | 5              |5             |
| 1       | 2         | 2016-03-02 | 6              |11            |
| 2       | 3         | 2017-06-25 | 1              |1             |
| 3       | 1         | 2016-03-02 | 2              |5             |
| 3       | 4         | 2016-03-02 | 3              |5             |
| 3       | 2         | 2018-07-03 | 5              |10             |
+---------+-----------+------------+----------------+--------------+
```

In [6]:
# Task 3: Write a solution to report for each player and date, how many games played so far by the player
#         i.e the total number of games played by the player until that date.

# Users who logged in on the day immediately following their initial login date

```
+---------+
| user_id |
+---------+
| 1       |
+---------+
```

In [7]:
# Task 4: Users who logged in on the day immediately following their initial login date